<app-bread-crumb
  [items]="[{text: 'Categorias'}]"
></app-bread-crumb>

<app-page-header
  page-title="Categorias"
  button-text="+ Nova Categoria"
  button-link="new"
  button-class="btn-success"
></app-page-header>


<table class="table table-hover">
  <thead>
  <tr class="bg-primary text-light">
    <th>ID Categoria</th>
    <th>Descrição</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let category of resources">
    <td>{{category.id}}</td>
    <td>{{category.descricao}}</td>
    <td>
      <a [routerLink]="[category.id, 'edit']" class="btn btn-outline-info btn-sm mr-2">Editar</a>
      <button (click)="deleteResource(category)" class="btn btn-outline-danger btn-sm">Excluir</button>
    </td>
  </tr>
  </tbody>
</table>
