<app-bread-crumb
  [items]="[{text: 'Cursos', link: '/entries'}, {text: pageTitle}]"
></app-bread-crumb>

<app-page-header
  [page-title]="pageTitle"
  button-text="<< Voltar"
  button-link="/entries"
  button-class="btn-light"
></app-page-header>


<form [formGroup]="resourceForm" (submit)="submitForm()">

  <div class="card">
    <div class="card-header">
      Informações sobre o Curso
    </div>

    <div class="card-body">
      <div class="form-row">
        <!-- type -->
        <div class="form-group col-md-3">
          <label for="categoria">Categoria</label>
          <select name="categoria" id="categoria" formControlName="categoria" [value]="" class="form-control">
            <option *ngFor="let category of categories" [value]="category.id">{{ category.descricao }}</option>
          </select>

          <app-form-field-error [form-control]="resourceForm.get('categoria')"></app-form-field-error>
        </div>

        <!-- Descricao -->
        <div class="form-group col-md-7">
          <label for="descricao">Descrição</label>
          <input type="text" class="form-control" id="descricao" formControlName="descricao">

          <app-form-field-error [form-control]="resourceForm.get('descricao')"></app-form-field-error>
        </div>

        <!-- Qt. Aluno -->
        <div class="form-group col-md-2">
          <label for="qt_aluno">Qt. Aluno</label>
          <input type="text" class="form-control" id="qt_aluno" formControlName="qt_aluno">

          <app-form-field-error [form-control]="resourceForm.get('qt_aluno')"></app-form-field-error>
        </div>
      </div>

    </div>
  </div>

  <app-server-error-messages [server-error-messages]="serverErrorMessages"></app-server-error-messages>

  <button [disabled]="submittingForm || resourceForm.invalid" type="submit"
          class="btn btn-primary btn-lg float-right mt-3">
    Salvar
  </button>

</form>
