<app-bread-crumb
  [items]="[{text: 'Cursos'}]"
></app-bread-crumb>

<app-page-header
  page-title="Cursos"
  button-text="+ Novo Curso"
  button-link="#"
  button-class="btn-success"
></app-page-header>


<table class="table table-hover">
  <thead>
    <tr class="bg-primary text-light">
      <th>Descrição</th>
      <th>Data início</th>
      <th>Data fim</th>
      <th>Qt. Aluno</th>
      <th>Categoria</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let course of resources">
      <td>{{course.descricao}}</td>
      <td>{{course.dt_inicio | date: 'dd/MM/yyyy'}}</td>
      <td>{{course.dt_fim | date: 'dd/MM/yyyy'}}</td>
      <td>{{course.qt_aluno}}</td>
      <td>{{course.categoria.descricao}}</td>
      <td class="text-center">
        <a [routerLink]="[course.id, '#']" class="btn btn-outline-info btn-sm mr-2">Editar</a>
        <button (click)="deleteResource(course)" class="btn btn-outline-danger btn-sm">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>
